body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #70c5ce;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #70c5ce;
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font: 24px sans-serif;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
